<h1>YOu fell in love with
    <%=thingVar.toLowerCase()%>
</h1>

<% if (thingVar.toLowerCase() === 'canada'){ %>
    <p>this is a very good choise</p>
    <% } else { %>
        <p>You should have said Canada</p>
        <% } %>